<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hairui.boot.mapper.OrderMapper">

    <select id="fuzzyQueryOrder" resultType="com.hairui.boot.entity.Order">
        select * from `order`
        <where>
            <if test="createTime!=null and updateTime!=null">
                and create_time between #{createTime} and #{updateTime}
            </if>
            and is_deleted = 0
        </where>
    </select>
    <select id="IndexOrder" resultType="java.lang.Integer">
        select count(*) from `user` where create_time between #{createTime} and #{updateTime}
    </select>
</mapper>
